# Imports

In [1]:
from datetime import datetime

import geopandas as gpd
import pandas as pd
from shapely import Point
from tqdm.autonotebook import tqdm

C:\Users\Jakub\AppData\Local\Temp\ipykernel_33660\2948975939.py:6: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

# Data Loading

In [2]:
df_porto_taxi = pd.read_parquet("data/porto_taxi.parquet")

In [3]:
df_porto_taxi.head()

,timestamp,trip_id,call_type,origin_call,origin_stand,taxi_id,day_type,speed,longitude,latitude
0,1.372637e+09,1372636854620000520,C,NaN,NaN,20000520,A,4.117262,-8.574678,41.151951
1,1.372637e+09,1372636854620000520,C,NaN,NaN,20000520,A,4.117262,-8.575164,41.150934
2,1.372637e+09,1372636854620000520,C,NaN,NaN,20000520,A,43.896107,-8.577135,41.150232
3,1.372637e+09,1372636854620000520,C,NaN,NaN,20000520,A,46.919455,-8.579745,41.147316
4,1.372637e+09,1372636854620000520,C,NaN,NaN,20000520,A,31.447044,-8.579358,41.146173

In [4]:
df_porto_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12722653 entries, 0 to 12722652
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   timestamp     float64
 1   trip_id       int64
 2   call_type     object
 3   origin_call   float64
 4   origin_stand  float64
 5   taxi_id       int64
 6   day_type      object
 7   speed         float64
 8   longitude     float64
 9   latitude      float64
dtypes: float64(6), int64(2), object(2)
memory usage: 970.7+ MB

# Data Processing

In [5]:
tqdm.pandas()

In [6]:
df_porto_taxi["timestamp"] = df_porto_taxi["timestamp"].progress_apply(
    lambda x: datetime.fromtimestamp(x)
)

  0%|          | 0/12722653 [00:00<?, ?it/s]

In [7]:
df_porto_taxi["geometry"] = df_porto_taxi.progress_apply(
    lambda row: Point(row["longitude"], row["latitude"]), axis=1
)

  0%|          | 0/12722653 [00:00<?, ?it/s]

In [8]:
df_porto_taxi.drop(["longitude", "latitude"], axis=1, inplace=True)

In [9]:
gdf_porto_taxi = gpd.GeoDataFrame(
    data=df_porto_taxi, geometry="geometry", crs="EPSG:4326"
)

In [10]:
gdf_porto_taxi.head()

,timestamp,trip_id,call_type,origin_call,origin_stand,taxi_id,day_type,speed,geometry
0,2013-07-01 02:00:54,1372636854620000520,C,NaN,NaN,20000520,A,4.117262,POINT (-8.57468 41.15195)
1,2013-07-01 02:02:39,1372636854620000520,C,NaN,NaN,20000520,A,4.117262,POINT (-8.57516 41.15093)
2,2013-07-01 02:02:54,1372636854620000520,C,NaN,NaN,20000520,A,43.896107,POINT (-8.57714 41.15023)
3,2013-07-01 02:03:24,1372636854620000520,C,NaN,NaN,20000520,A,46.919455,POINT (-8.57975 41.14732)
4,2013-07-01 02:03:39,1372636854620000520,C,NaN,NaN,20000520,A,31.447044,POINT (-8.57936 41.14617)